node_modules/
www/
pages/
ios/
.media-cache/
**/.gradle/
**/build/
**/.idea/
**/local.properties
**/capacitor-cordova-android-plugins/
android/app/src/main/assets/
android/app/src/main/res/xml/config.xml
*.jks
*.keystore
*.p12
*.pem
*.apk
*.aab
*.log
.env*
**/google-services.json
source-app/**/*.pdf
source-app/**/*.mp3
